select {
    width: 183px;
}

* {
    box-sizing: border-box;
  }

.description {
    height: 300px;
    column-count: 2;
    column-gap: 40px;
    background-color: blueviolet;
    background-position: center;   
}

h1 {
    column-span: all;
    text-align: center;
    color: rgb(9, 17, 9);
}

h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    color: rgb(8, 8, 8);
    text-size-adjust: 20px;
    margin: 15px;
}

.resolver {
    text-align: center;
    background-color: blueviolet;
    height: 500px;
 }